<style>
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-image: url("/media/wallpaper/wall1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
  
  <!-- Navigation -->
  
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light" style="color: aliceblue">
            O'zbekiston Velosportchilari
          </h1>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="fw-light">
        O'zbekiston Velosporti federatsiyaning asosiy maqsadlari quyidagilardan
        iborat:
      </h2>
      <p>
        -aholi o'rtasida velosportni rivojlantirish va ommalashtirishga
        ko'maklashish;
      </p>
      <p>
        -shaxsning har tomonlama va barkamol rivohjlantirishida jismoniy tarbiya
        va sportni rolini oshirish;
      </p>
      <p>
        -velosport bo'yicha sportchilar, murabbiylar, instruktorlar va boshqa
        mutaxasislarni tayyorlash tizimini takomillashtirishga ko'maklashish;
      </p>
      <p>
        -Federatsiya a'zolari, sportchilar, velosport bo'yicha murabbiylar, shu
        junladan sport faxtiylarini qo'llab quvvatlash va qonuniy manfaatlari va
        huquqlariini himoya qilishni ta'minlash;
      </p>
      <p>
        -velospor bo'yicha xorijiy dvlatlarning milli va boshqa sport
        tashkilotlari, xalqaro, sport birlashmalari o'rtasida alqaro aloqalarni
        rivohlantirish va mustahkamlash;
      </p>
      <p>
        -barcha manfaatdor tomonlar, jumladan, davlar organlari, mahalliy va
        xoriijiy jamoat birlashmalari bilan velosiped sportini rivojlantirih
        masalalari bo'yicha o'zaro hamkorlik qilish;
      </p>
      <p>-Federatsiyaning moddiy-textnik bazasini yaratish va rivojlantirish.</p>
    </div>
  </section>
  